.check-box .box {

-fx-background-color: transparent;
-fx-border-color: transparent;
-fx-border-radius: 0px; 

}

.check-box:selected .mark {

-fx-background-color: green;

}

.check-box:selected .box {

-fx-background-color: transparent;
}